* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  height: 100%;
  padding: 0;
  background: linear-gradient(to top, #000, #757575);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  margin-top: 50px;
}

p {
  font-weight: bold;
  min-width: 350px;
  max-width: 400px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: darkblue;
  border: 3px solid #fff;
  word-wrap: normal;
  margin-left: 50%;
  transform: translateX(-180px);
}

.bufficorns {
  margin-left: 50%;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transform: translate(-180px, -12px);
  width: 350px;
  font-size: 25px;
  background-color: #000;
  border: 3px white solid;
  padding-left: 5px;
  padding-right: 5px;
  z-index: -5;
}

.status {
  position: absolute;
  color: #fff;
  text-align: center;
  transform: translate(-160px, -3px);
  background: #000;
  border: #fff 3px solid;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.instructions {
  position: absolute;
  color: #fff;
  text-align: center;
  background: #000;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

#line_one {
  transform: translate(-155px, 50px);
}

#line_two {
  transform: translate(-158px, 70px);
}

#line_three {
  transform: translate(-153px, 90px);
}

#line_four {
  transform: translate(-158px, 110px);
}

.gamebox {
  width: 199px;
  height: 198px;
  border: 3px solid #fff;
  margin-left: 50%;
  transform: translateX(-28px);
}

.square {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 65px;
  height: 65px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 65px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.footer {
  text-align: center;
  font-size: 15px;
  padding-bottom: 15px;
}
